//  ============================================================================
//      #BUTTONS
//  ============================================================================

.btn {
  color: $color-btn;
  background-color: $color-btn-background;
  font-size: 18px;
  font-weight: bold;
  width: 173px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 35px;
  width: 40px;
  height: 15px;
}

.paper {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 15px;
}
