//  ============================================================================
//      #BUTTONS
//  ============================================================================

.btn {
  color: $color-btn;
  background-color: $color-btn-background;
  font-size: 18px;
  font-weight: bold;
  width: 173px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.arrow {
  position: absolute;
  right: 28px;
  width: 50px;
  height: 20px;
}
