//  ============================================================================
//      #BUTTONS
//  ============================================================================

.btn {
  color: $color-btn;
  background-color: $color-btn-background;
  font-weight: bold;
  width: 173px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
