
.form {
  width: 1200px;
  margin-top: 160px;
  border-radius: 50px 50px 0px 0px;
  background-color: $color-light;
  padding: 101px 75px 0 75px;
  position: relative;

  .upperPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
  }

  .firstPart {
    h4 {
      font-size: 16px;
      font-weight: 600;
      color: $color-second-text;
    }

    input {
      border: none;
      text-decoration: underline;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.5px;
      color: $color-main-text;
    }
  }

  .secondPart {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      font-size: 16px;
      font-weight: 600;
      color: $color-second-text;
    }

    .priceInput {
      margin-left: 30px;
      position: relative;

      i {
        position: absolute;
        top: 13px;
        left:15px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    input {
      border: none;
      width: 85px;
      height: 52px;
      border-radius: 50px;
      border: solid 1px $color-border;
      background-color: $color-background;
      text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  h4 {
    font-size: 16px;
    color: $color-second-text;
  }

  .pdfBtn {
    position: relative;
    left: 75px;
    width: 439px;
    height: 106px;
    font-size: 14px;
    border-radius: 0;
    background-color: $color-btn-background;
    align-items: center;
    flex-direction: column;
    margin-top: 166px;
    margin-left: auto;

    ::before {
      content: "";
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
    }

    ::after {
      content: "";
      width: 1px;
      height: 106px;
      position: absolute;
      top: 0;
      right: 104px;
      background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    p{
      font-weight: normal;
      font-size: 11px;
    }
  }
}
