
.trashBin {
  margin-right: 92px;
  color: $color-second-text;
  font-weight: bold;
  width: 17px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg:hover {
    fill: $color-btn-background;
    cursor: pointer;
  }
}
