//  ============================================================================
//      #COLORS
//  ============================================================================

// Colour palette
$color-light: #fff;
$color-dark: #000;
$color-btn: #fff;
// Theme colors
$color-theme: #1eb9d5;



$color-main-text: #27272b;
$color-second-text: #939395;
$color-background: #f6f6fb;
$color-border: #ebebeb;

$color-btn-background: #ff3613;
$color-btn-background-hover: #ff3613;
