//  ============================================================================
//      #COLORS
//  ============================================================================

// Colour palette
$color-light: #fff;
$color-dark: #000;

$color-btn: #fff;
$color-btn-background: #1eb9d5;
$color-btn-background-hover: #1eb9d5;

// Theme colors
$color-theme: #1eb9d5;
