//  ============================================================================
//      #FONTS
//  ============================================================================

// Font families
$font-family-accent: Arial, Helvetica, sans-serif;;
$font-family-normal: Arial, Helvetica, sans-serif;;

// Font sizes
$base-line-height: 1.4;
$global-font-size: 14px !default;

// Heading sizes
$font-size-h1:  36px !default;
$font-size-h2:  28px !default;
$font-size-h3:  24px !default;
$font-size-h4:  20px !default;
$font-size-h5:  18px !default;
$font-size-h6:  16px !default;
