
.inputLi {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .inputTitleItem {
    width: 400px;
    height: 18px;
    font-size: 18px;
    font-weight: bold;
    color: $color-main-text;
    border: none;
    margin-left: 92px;
  }

  .numberPart {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .inputNumberItem {
      color: $color-main-text;
      border: none;
      width: 85px;
      height: 52px;
      border-radius: 50px;
      border: solid 1px $color-border;
      background-color: $color-light;
      text-align: center;
      margin: 25px 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .result {
      font-size: 24px;
      font-weight: bold;
    }
  }

}
