
.app {
  background-image: linear-gradient(to bottom, $color-background 100%, $color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-style;
  color: $color-main-text;
  box-sizing: border-box;

  h1 {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.14px;
  }
}
