li {
  background-color: $color-background;
  list-style-type: none;
}

li:nth-child(even) {
  background-color: $color-light;
}

li:nth-child(odd) .inputTitleItem {
  background-color: $color-background;
}

.addBtn {
  margin-top: 52px;
}
