//  ============================================================================
//      #LINKS
//  ============================================================================

// Default style
a {
  color: $color-theme;
  font-weight: bold;
  text-decoration: none;
}
